.contain_barra {
  background-color: #b3b3b34d;
  padding: 5px;
  display: flex;
  align-items: center;
}

.div_barra {
  display: flex;
  flex-direction: row;
  justify-items: end;
}

.barra_emojis_user {
  margin: 0px;
  color: white;
  width: 20px;
  height: 20px;
  position: relative;
  left: 13rem;
}

.barra_emojis_shop {
  margin: 0px;
  color: white;
  width: 20px;
  height: 20px;
  position: relative;
  left: 15rem;
}

.item_emojis {
  color: white;
  margin-right: 1rem;
}

.contain_barra button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.contain_barra button:hover {
  background-color: #2e2e2e;
}
